{% extends 'base/base.html' %}

{% block title %}Login{% endblock %}

{% block body_main %}
    <main class="grid grid-cols-1 max-w-md m-5 mx-auto p-2">
        <form method="post" class="flex flex-col p-3 items-center border border-blue-500 rounded-lg">
            {% csrf_token %}

            <div class="flex flex-col p-3 justify-items border-b">
                <label for="username" class="m-2">
                    Username:
                    <input class="border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent px-1" type="text" id="username" name="{{ form.username.html_name }}">
                </label>

                <label for="password" class="m-2">
                    Password:
                    <input class="border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent px-1" type="password" id="password" name="{{ form.password.html_name }}">
                </label>
            </div>

            <div class="flex justify-between w-full px-3">
                <a href="{% url 'accounts:create' %}" class="border border-blue-500 rounded-lg my-5 px-3 py-2">
                    Register
                </a>

                <button class="bg-green-500 text-white border border-green-500 rounded-lg my-5 px-3 py-2" type="submit">
                    Login
                </button>
            </div>
        </form>
    </main>
{% endblock body_main %}
