{% extends 'base/folders_base.html' %}

{% block title %}Update missing{% endblock %}

{% block body_main %}
    <nav class="flex justify-between border-b-2 m-3 my-5 px-3 pb-3">
        <div>
            <a class="" href="{% url 'accounts:logout' %}">
                Logout
            </a>
        </div>
        <div>
            <a class="border border-blue-500 rounded-lg p-1" href="{% url 'folders:folder-list' %}">Back</a>
        </div>
    </nav>

    <main>
        
    </main>
{% endblock body_main %}
